<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<br/><br/>

<section class="page-section" style="margin-left: 10px;margin-right: 10px;">
    <div th:if="${courses.isEmpty()}">
        <h2>No Courses</h2>
    </div>
    <div th:unless="${courses.isEmpty()}">
        <h2 class="text-center">Courses</h2>
        <a class="btn btn-primary" style="margin-left: 89%;" th:href="@{__${#httpServletRequest.requestURI}__/new}"
           role="button">Add New Course</a>
        <form th:fragment="course-filter-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              method="get" th:object="${filterOptions}">
            <section class="search-banner text-white py-1 form-arka-plan" id="search-banner">
                <div class="container py-5 my-5">
                    <div class="row text-center pb-4">
                        <div class="col-md-12">
                            <br/>
                            <div th:class="row">
                                <div th:class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter course title"
                                           th:field="*{title}"/>
                                </div>
                                <div th:class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter course topic"
                                           th:field="*{topic}"/>
                                </div>
                                <div th:class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter course teacher"
                                           th:field="*{creator}"/>
                                </div>
                            </div>
                            </br>
                            <div th:class="row">
                                <div th:class="col-md-3">
                                    <input type="number" class="form-control" min="0" max="5" step="0.1"
                                           placeholder="Enter course rating" th:field="*{rating}"/>
                                </div>
                                <div th:class="col-md-3">
                                    <select class="form-select" th:field="*{sortBy}">
                                        <option value="">SortBy</option>
                                        <option value="title">Title</option>
                                        <option value="title">Rating</option>
                                    </select>
                                </div>
                                <div th:class="col-md-3">
                                    <select class="form-select" th:field="*{sortOrder}">
                                        <option value="">Sort Order</option>
                                        <option value="asc">Ascending</option>
                                        <option value="desc">Descending</option>
                                    </select>
                                </div>

                                <div th:class="col-md-3">
                                    <div class="d-grid gap-2">
                                        <input type="submit" class="btn btn-primary" value="search"/>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Topic</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">Passing Grade</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Status</th>
                <th scope="col">Rating</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="course : ${courses}">
                <td><a href="#" th:href="@{__${#httpServletRequest.requestURI}__/{id}(id=${course.getId()})}"
                       th:text="${course.title}">Title</a></td>
                <td th:text="${course.getTopic()}">Topic</td>
                <td th:text="${course.getDescription()}">Description</td>
                <td th:text="${course.getStartDate()}">Start Date</td>
                <td th:text="${course.getPassingGrade()}">Passing Grade</td>
                <td th:text="${course.getCreator().getFullName()}">Teacher Name</td>
                <td th:text="${course.getStatus()}">Status</td>
                <td th:text="${course.getRating()}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>