<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!--     Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body id="page-top">
<nav th:replace="nav-bar.html :: nav-bar"></nav>

<section class="page-section" id="about">
    <div class="bs-example">
        <td th:if="${isAdmin or isTeacher}">
            <a class="btn btn-outline-secondary btn-lg px-4 me-sm-3"
               style="padding-top: 1px; padding-bottom: 3px; margin-left: 80%"
               th:href="@{__${#httpServletRequest.requestURI}__/edit}" role="button">Edit</a>
            <a class="btn btn-outline-danger btn-lg px-4" style="padding-top: 1px; padding-bottom: 3px;"
               th:href="@{__${#httpServletRequest.requestURI}__/delete}" role="button">Delete</a>
        </td>
    </div>
    <ul class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" th:text="${course.getTitle()}">Title</h2>
            <h3 class="section-subheading text-muted" th:text="${course.getTopic()}">Topic</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="../assets/img/about/1.jpg" alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Course Description</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted" th:text="${course.getDescription()}">
                        Description</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img src="../assets/img/about/2.jpg" class="rounded-circle img-fluid"
                                                 alt="Sample image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Lectures</h4>
                    </div>
                    <div class="timeline-body" th:each="lecture : ${course.getLectures()}"><p class="text-muted"
                                                                                              th:text="${lecture.getTitle()}">
                        Lecture Title</p>
                        <h6 class="subheading">Description</h6>
                        <h6 class="section-subheading text-muted" th:text="${lecture.getDescription()}">Lecture
                            Description</h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/about/3.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Your team</h4>
                        <h4 class="subheading" th:text="${course.getCreator()}">Teacher</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/about/4.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading" th:text="${course.getStartDate()}">Start Date</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        <div class="mb-1">
                            <div th:unless="${currentUser.getStudentEnrolledCourses().contains(courseEnrolled)}">
                                <a class="btn bg-primary btn-xl" style="font-size: 19px;"
                                   th:href="@{__${#httpServletRequest.requestURI}__/enrol}" role="button">Enroll</a>
                            </div>
                            <div th:if="${currentUser.getStudentEnrolledCourses().contains(courseEnrolled)}"><h4>
                                You have
                                <br/>
                                already
                                <br/>
                                enrolled
                            </h4>
                            </div>
                        </div>
                    </h4>
                </div>
            </li>
        </ul>
    </ul>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>