<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Create new course</title>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Simple line icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<!-- Header-->
<header class="masthead-create d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Create new course</h1>
        </br>
        <p class="text-black-50" style="font-size: 13pt"><b>A good teacher is like a candle - it consumes itself to
            light the way for others!
            </br> - Mustafa Kemal Atatürk</b></p>
    </div>
</header>
<!-- Contact-->
<section class="page-section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Great! Your students are waiting!</h2>
                <hr class="divider"/>
                <p class="text-muted mb-5">Quickly Start creating a course here for the relevant classes you are
                    currently teaching!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form th:fragment="course-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${course}" method="post">

                    <div class="form-floating mb-3">
                        <input class="form-control" id="title" type="text" th:field="*{title}"
                               placeholder="Enter course title..."
                               data-sb-validations="required"/>
                        <label for="title">Title</label>
                        <div class="data-status">
                            <label class="error" th:errors="*{title}">Title Name error placeholder</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="topic" type="text" th:field="*{topic}"
                               placeholder="Enter course topic..."
                               data-sb-validations="required"/>
                        <label for="topic">Topic</label>
                        <div class="data-status">
                            <label class="error" th:errors="*{topic}">Topic Name error placeholder</label>
                        </div>
                        <div class="form-floating mb-3">
                        <textarea class="form-control" id="description" type="text" th:field="*{description}"
                                  placeholder="Enter description here..."
                                  style="height: 10rem"></textarea>
                            <label for="description">Description</label>
                            <div class="data-status">
                                <label class="error" th:errors="*{description}">Description Name error
                                    placeholder</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="date" type="date" th:field="*{startDate}"/>
                            <label for="date">Start Date</label>
                            <div class="data-status">
                                <label class="error" th:errors="*{startDate}">Date error placeholder</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select"
                                    style="padding: 10px; font-size:16px; border: 0; border-bottom: 3px solid #ffc800;"
                                    th:field="*{status}">
                                <option value="">-- Status course --</option>
                                <option value="DRAFT">Draft</option>
                                <option value="PUBLISHED">Published</option>
                            </select>
                            <div class="data-status">
                                <label class="error" th:errors="*{status}">Status error placeholder</label>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" id="submitButton" value="save" type="submit">Save
                            </button>
                            <a href="@{/courses}"></a>
                        </div>
                    </div>
                </form>
                <div class="col-lg-6">
                    <form th:fragment="course-form-upload-pic" action="/uploadCoursePicture" method="post"
                          enctype="multipart/form-data">
                        <input style="width:590px" th:class="form-control" type="file" name="files" multiple>
                        <br/>
                        <input style="width:200px" th:class="form-control" type="submit" value="Upload Assignment">
                        <input type="hidden" name="courseId" th:value="${courseId}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="../static/javascript/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</html>
</body>
