<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<div>
    <h2 style="max-width: 420px; margin-left: 560px; margin-bottom: 40px">Forgot Password</h2>
</div>

<div style="margin-left: 460px" th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
</div>
<div style="margin-left: 460px" th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
</div>

<form th:action="@{/users/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3">
        <div>
            <p>We will be sending a reset password link to your email.</p>
        </div>
        <div>
            <p>
                <input class="form-control" type="email" name="email" placeholder="Enter your e-mail" required
                       autofocus/>
            </p>
            <p class="text-center">
                <input class="btn btn-primary" type="submit" value="Send"/>
            </p>
        </div>
    </div>
</form>
</body>
</html>