<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Homepage</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
</head>
<body>
<i class='bi bi-building'></i>
</body>
</html>


</head>
<body id="page-top">
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<br/><br/>
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Are you ready to take your IT Ops skills to the next level?</div>
        <div class="masthead-heading text-uppercase">Level up your IT ops skills
        </div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#service">Tell Me More</a>
    </div>
</header>

<!-- Testimonial section-->
<div class="py-5 bg-light" id="service">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"Every individual has the potential to create change,
                        whether in their life, their community, or the world.
                        The transformative power of education is what unlocks that potential.
                        Yet, access to high-quality education has been a privilege of the few."
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="fw-bold">
                            Tom Ato
                            <span class="fw-bold text-primary mx-1">/</span>
                            CEO, Pomodoro
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Enabling transformation</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-back rounded-3 mb-3"><i
                                class="bi bi-person-workspace"></i></div>
                        <h2 class="h5">Experience</h2>
                        <p class="mb-0">Learn new knowledge and skills in a variety of ways, from engaging video
                            lectures and dynamic graphics to data visualizations and interactive elements.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-back rounded-3 mb-3"><i
                                class="bi bi-pencil-square"></i></div>
                        <h2 class="h5">Practice</h2>
                        <p class="mb-0">Demonstrating your knowledge is a critical part of learning.
                            The courses and programs provide a space to practice with quizzes, open response
                            assessments, virtual environments, and more.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-back rounded-3 mb-3"><i
                                class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Apply</h2>
                        <p class="mb-0">Learning on transform how you think and what you can do,
                            and translates directly into the real world—immediately
                            apply your new capabilities in the context of your job.
                        </p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-black rounded-3 mb-3"><i
                                class="bi bi-building"></i></div>
                        <h2 class="h5">More Comfortable Learning Environment</h2>
                        <p class="mb-0">With the ability to study anywhere, online learners can complete coursework at
                            home,
                            a coffee shop, or a library. This advantage of online learning allows students to work in
                            the environment that best suits them.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Courses</h2>
            <h3 class="section-subheading text-muted">trending technologies</h3>
        </div>
        <form th:replace="courses-view.html :: course-filter-form"></form>
        <div class="row">
            <div th:each="course : ${courses}" class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link">
                        <img class="img-fluid" style="width: 110mm; height: 70mm"
                             src="../assets/course-pictures/JavaScript.jpg"
                             th:src="@{'/assets/course-pictures'+ '/' + ${course.getTitle()} + '.jpg'}"/>
                        <!--                        onerror="this.onerror=null;this.scr='../assets/img/portfolio/1.jpg';"-->
                        <!--                        <img class="img-fluid" src="../assets/img/portfolio/1.jpg"/>-->
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading" th:text="${course.getTitle()}">Title</div>
                        <div class="portfolio-caption-subheading text-muted" th:text="${course.getTopic()}">Topic</div>
                        <div class="portfolio-caption-subheading text-muted"
                             th:text="${course.getCreator().getFullName()}">Topic
                        </div>
                        <i class="bi bi-star-fill px-4 me-sm-1"></i>
                        <h5 class="me-sm-1" th:text="${course.getRating()}">Rating
                        </h5>

                        <a class="btn btn-primary" href="#" th:href="@{/courses/{id}(id=${course.getId()})}">Learn
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3 class="section-subheading text-muted">Transformation through education</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Our mission</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">There are three commitments we've made to the
                        world. We've been grounded by these since day one:
                        Increase access to high-quality education for everyone, everywhere
                        Enhance teaching and learning on campus and online
                        Advance teaching and learning through research</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>From experiment to global movement</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">While the internet was enabling innovation at
                        scale across a vast array of industries, higher education was reaching only a tiny
                        fraction of the world’s curious minds... The platform that would offer their courses online,
                        open to any person up to the challenge</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/6.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Our goals</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We are the largest provider of skills,
                        training and employment services.
                        We’ve helped millions of people like you gain the skills you need for work.
                        We can help you kick-start your career with:
                        qualifications in everyday skills like maths, English and IT
                        vocational qualifications in lots of industries
                    </p></div>
                </div>
            </li>
            <!--            <li class="timeline-inverted">-->
            <!--                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>-->
            <!--                <div class="timeline-panel">-->
            <!--                    <div class="timeline-heading">-->
            <!--                        <h4>July 2020</h4>-->
            <!--                        <h4 class="subheading">Phase Two Expansion</h4>-->
            <!--                    </div>-->
            <!--                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <a th:href="@{/auth/login}" style="text-decoration: none !important;">-->
            <!--                    </a>-->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br/>
                        Of Our
                        <br/>
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..."/>
                    <h4>Mihail Terziyski</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..."/>
                    <h4>Marta Krasteva</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..."/>
                    <h4>Boris Nikolov</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam
                corporis ea, alias ut unde.</p></div>
        </div>
    </div>
</section>
<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg"
                                  alt="..." aria-label="Microsoft Logo"/></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg"
                                  alt="..." aria-label="Google Logo"/></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg"
                                  alt="..." aria-label="Facebook Logo"/></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..."
                                  aria-label="IBM Logo"/></a>
            </div>
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meet our students</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4" th:each="comment : ${comments}">
                    <img class="rounded-circle shadow-1-strong me-3" width="65" height="65"
                         src="../../uploads/profile-pictures/mterziyski@gmail.com.jpg"
                         th:src="@{'/assets/profile-pictures'+ '/' + ${comment.getCreator.getEmail()} + '.jpg'}">>
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="">
                                <h5 th:text="${comment.getCreator.getFullName()}">Johny Cash</h5>
                                <p style="color: #ffc800" th:text="${comment.getContent()}">
                                    Text
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div th:each="course : ${courses}" class="portfolio-modal modal fade" th:id="portfolioModal1 + ${course.getId()}"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase" th:text="${course.title}">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..."/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline" th:each="lecture : ${course.getLectures()}">
                                <li>
                                    <strong th:text="${lecture.title}">Client:</strong>
                                    Threads
                                </li>
                                <!--                                <li>-->
                                <!--                                    <strong>Category:</strong>-->
                                <!--                                    Illustration-->
                                <!--                                </li>-->
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
