<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Lectures</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<br/><br/>

<div style="margin-top: 30px" th:if="${lectures.isEmpty()}">
    <h2>No Lectures</h2>
</div>
<div style="margin-top: 30px; margin-left: 5%" th:unless="${lectures.isEmpty()}">
    <br/>

    <form action="#" th:action="@{/lectures}" method="get" th:object="${filterOptions}">
        <label th:class="form-label"><strong>Filter Options<strong/></label>
        <br/>
        <div th:class="row">
            <div th:class="col-2">
                <input th:class="form-control" type="text" placeholder="Title" th:field="*{title}"/>
            </div>
            <div th:class="col-2">
                <input th:class="form-control" type="text" placeholder="Description" th:field="*{description}"/>
            </div>

            <div th:class="col-2">
                <select class="form-select" th:field="*{sortBy}">
                    <option value="">Sort By</option>

                    <option value="title">Title</option>
                    <option value="description">Description</option>
                </select>
            </div>
            <div th:class="col-2">
                <select class="form-select" th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>

            <br/><br/>
            <div th:class="col-1">
                <input class="btn btn-primary" type="submit" value="Search"/>
            </div>
        </div>
    </form>

    <div style="margin-right: 2%" class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary"
                                                                                           th:href="@{/lectures/new}"
                                                                                           role="button">Add New</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture : ${lectures}">
            <td><a href="#" th:href="@{/lectures/{id}(id=${lecture.getId()})}" th:text="${lecture.title}">Title</a></td>
            <td th:text="${lecture.description}">Description</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>