<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<br/><br/>

<div style="margin-top:30px; margin-left: 5%" class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" th:href="@{/lectures}" role="button">Show all</a>
</div>
<br/>

<table style="margin-left: 5%" class="table">
    <thead>
    <tr>
        <th scope="col" th:text="${lecture.title}">User</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${lecture.description}">Description</td>
    </tr>
    </tbody>
</table>
<br/>
<div style="margin-left: 5%" th:if="${isAuthenticated}" class="d-grid gap-2 d-md-block">
    <iframe width="620" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
    <br/><br/>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input style="width:210px" th:class="form-control" type="file" name="files" multiple>
        <input style="width:210px" th:class="form-control" type="submit" value="Upload Assignment">
        <input type="hidden" name="lectureId" th:value="${lectureId}">
    </form>
    <br/>
    <form th:if="${isAdmin or currentUser.getId() eq lecture.getCreator().getId()}" action="/assess"
          th:action="@{/lectures/assess/__${lectureId}__}" method="post" th:object="${assignment}">
        <label th:class="form-label">Student, which have submitted assignment:</label>
        <select class="form-select" th:field="*{userEmail}">
            <option th:each="student : ${studentsWithAssignments}" th:text="${student.getEmail()}"
                    th:value="${student.getEmail()}">Student
            </option>
        </select>
        <label th:class="form-label">Grade</label>
        <input th:class="form-control" type="text" th:field="*{grade}"/>
        <input type="hidden" name="lectureId" th:value="${lectureId}">
        <button type="submit" class="btn btn-success">Assess</button>
    </form>
    <br/>
    <a th:if="${isStudent}" class="btn btn-success" th:href="@{/download/file/__${lecture.getTitle}__}" role="button">Download
        the assignment</a>
</div>
<div style="margin-left: 5%" th:if="${isAdmin or currentUser.getId() eq lecture.getCreator().getId()}"
     class="d-grid gap-2 d-md-block">
    <br/>
    <a class="btn btn-success" th:href="@{/lectures/__${lectureId}__/edit}" role="button">Edit</a>
    <a class="btn btn-danger" th:href="@{/lectures/__${lectureId}__/delete}" role="button">Delete</a>
</div>
</body>
</html>