<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Navbar</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="../assets/img/nav-bar-logo-final_2.svg"
                                              style=" width: 48px; height: 32px;"
                                              alt="..."/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" href="/users/{id}" th:href="@{/users/{id}(id=${loggedUser.getId()})}">My
                        profile</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link" href="/auth/login" th:href="@{/auth/login}">Login</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link" href="/auth/register" th:href="@{/auth/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" href="/auth/logout" th:href="@{/auth/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>