<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <style>
        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .rating > input {
            display: none;
        }

        .rating > label {
            position: relative;
            width: 1em;
            font-size: 6vw;
            color: #FFD600;
            cursor: pointer;
        }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0;
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important;
        }

        .rating > input:checked ~ label:before {
            opacity: 1;
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4;
        }

        body {
            background: #222225;
            color: white;
        }

        h1, p {
            text-align: center;

        }

        h1 {
            margin-top: 150px;
        }

        p {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 14px;
            }

            p {
                font-size: 12px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1 style="margin-top: 75px;">Course rating </h1>
    <br>
    <td th:unless="${ifStudentRatedCourse == true}">
        <h4 class="text-center">Choose a rating from 1 to 5 stars</h4>
        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${course}" method="post">
            <div class="rating">
                <input type="radio" name="rating" value="5" id="5" th:field="*{rating}"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4" th:field="*{rating}"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3" th:field="*{rating}"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2" th:field="*{rating}"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1" th:field="*{rating}"><label for="1">☆</label>
            </div>
            <div class="container">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary btn-lg" value="save" type="submit">Rate
                    </button>
                </div>
            </div>
        </form>
    </td>
    <td th:if="${ifStudentRatedCourse}">
        <h1 style="margin-top: 75px;">Thank you for voting!
        </h1>
        <br>
        <h4 class="text-center" style="color: #ffc800">Please, leave your feedback in comment section</h4>

        <h3 class="text-center" style="margin-top: 75px;">New Comment</h3>
        <br>

        <div class="text-center">
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/comments/new}" method="post"
                  th:object="${comment}">
            <textarea type="text" th:field="*{content}" class="form-select-s" placeholder="Enter new comment"
                      style="width:54%; height:64px"/></textarea>
                <h5 class="error" th:text="${error}">Content error placeholder</h5>
                <br>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-lg" value="Add"/>
                </div>
            </form>
        </div>
    </td>
</div>
</body>
</html>