<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<h3>[[${reset_password_message}]]</h3>
<p class="small fw-bold mt-2 pt-1 mb-0">You can now login. <a href="#!" th:href="@{/auth/login}"
                                                              class="link-danger">Login</a></p>
</body>
</html>