<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Course Info</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<br/><br/>

<section class="page-section" style="margin-left: 10px;margin-right: 10px;">
    <div class="text-center">Course
        <h4 th:text="${course.getTitle()}"></h4>
        Grade
        <h4 th:text="${avgCourseGrade}"></h4>
        <br>
        <td th:if="${hasPassedCourse == true}">
            <h4>Congratulations! You have succussfully completed the course</h4></td>
        <td th:if="${ifStudentRatedCourse == true}">
            <div class="container">
                <div class="col-md-12 text-center">
                    <br>
                    Rate Course
                    <a class="btn btn-outline-primary btn-lg" style="padding-top: 1px; padding-bottom: 3px;"
                       th:href="@{/courses/{id}/rate(id=${course.getId()})}" role="button">Rate</a>
                    <br>
                </div>
            </div>
        </td>
        <td th:if="${hasPassedCourse == false}">
            <h4>Please, check our werbsite for additional information about extra exam dates</h4></td>
    </div>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Lecture title</th>
            <th scope="col">StudentGrades</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignments}">
            <td th:text="${assignment.getLecture().getTitle()}"></td>
            <td th:text="${assignment.getGrade()}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</section>
</body>
</html>