<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<br/><br/>
<section class="page-section" style="margin-left: 10px;margin-right: 10px;">
    <div th:if="${users.isEmpty()}">
        <h2>No Users</h2>
    </div>
    <div th:unless="${users.isEmpty()}">
        <h2 class="text-center">Users</h2>
        <form th:fragment="user-filter-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              method="get" th:object="${filterOptions}">
            <section class="search-banner text-white py-1 form-arka-plan" id="search-banner">
                <div class="container py-5 my-5">
                    <div class="row text-center pb-4">
                        <div class="col-md-12">
                            <br/>
                            <div th:class="row">
                                <div th:class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter user first name"
                                           th:field="*{firstName}"/>
                                </div>
                                <div th:class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter user last name"
                                           th:field="*{lastName}"/>
                                </div>
                                <div th:class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter email"
                                           th:field="*{email}"/>
                                </div>
                            </div>
                            </br>
                            <!--                                    <div th:class="row">-->
                            <div th:class="col-md-3">
                                <select class="form-select" th:field="*{sortBy}">
                                    <option value="">SortBy</option>
                                    <option value="firstName">First Name</option>
                                    <option value="lastName">Last Name</option>
                                    <option value="email">Email</option>
                                </select>
                            </div>
                            <div th:class="col-md-3">
                                <select class="form-select" th:field="*{sortOrder}">
                                    <option value="">Sort Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                            <br/><br/>
                            <div th:class="col-md-3">
                                <div class="d-grid gap-2">
                                    <input class="btn btn-primary" type="submit" value="Search"/>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <!--                        </div>-->
            </section>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Role</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <div th:if="${user.checkIfUserStudent()}">
                    <td><a href="#" th:href="@{/users/{id}(id=${user.getId()})}"
                           th:text="${user.email}">Email</a></td>
                    <td th:text="${user.getFirstName()}">First name</td>
                    <td th:text="${user.getLastName()}">Last name</td>
                    <td th:text="${user.getRole().getName()}">User role</td>
                    <td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>