<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Update</title>

    <!--    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>
<div class="container rounded bg-white mt-5 mb-5">
    <div style="margin-top: 100px" class="bs-example">
        <a class="btn btn-outline-warning btn-lg px-4 me-sm-3" th:href="@{/}" role="button">Home</a>
        <a class="btn btn-outline-warning btn-lg px-4" th:href="@{/users}" role="button">Show all</a>
    </div>
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                     src="../../uploads/profile-pictures/mterziyski@gmail.com.jpg"
                     th:src="@{'/assets/profile-pictures'+ '/' + ${user.getEmail()} + '.jpg'}">
                <!--                <img class="rounded-circle mt-5" width="150px" src="../../uploads/profile-pictures/mterziyski@gmail.com.jpg" th:src="@{/assets/Student1.jpg}">-->
                <span class="font-weight-bold">Profile Picture</span>
                <!--                    class="text-black-50">th:text="username"</><span> -->
                </span></div>
        </div>
        <div class="col-md-5 border-right">
            <form action="#" method="post" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:fragment="user-form" th:object="${user}">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="form-floating mb-3">
                            <input class="form-control" data-sb-validations="required" id="first name"
                                   placeholder="Please, enter your first name..."
                                   th:field="*{firstName}"
                                   type="text"/>
                            <label for="first name">First Name</label>
                            <div class="data-status">
                                <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                            </div>
                        </div>
                        <!--                    <div class="col-md-6"><label class="labels">Firstname</label><input type="text" class="form-control" placeholder="first name" value=""></div>-->
                        <!--                    <div class="col-md-6"><label class="labels">Lastname</label><input type="text" class="form-control" value="" placeholder="last name"></div>-->
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" data-sb-validations="required" id="last name"
                               placeholder="Please, enter your last name..."
                               th:field="*{lastName}"
                               type="text"/>
                        <label for="last name">Last Name</label>
                        <div class="data-status">
                            <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
                        </div>
                        <br/>
                        <div class="form-floating mb-3">
                            <input class="form-control" data-sb-validations="required" id="email"
                                   placeholder="Enter your email..."
                                   th:field="${user.email}"
                                   type="email"/>
                            <label for="email">Email</label>
                            <div class="data-status">
                                <label class="error" th:errors="*{email}">Email address error placeholder</label>
                            </div>
                        </div>
                        <div th:if="${loggedUser.getEmail().equals(user.getEmail())}" class="form-floating mb-3">
                            <input type="password" class="form-control" id="password"
                                   minlength="8"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$"
                                   title="Must contain at least one number, one special character and one uppercase and lowercase letter,
                                and at least 8 or more characters"
                                   placeholder="Password"
                                   th:field="*{password}"/>
                            <label for="Password">Password</label>
                            <div class="data-status">
                                <label class="error" th:errors="*{password}">Password error placeholder</label>
                            </div>
                        </div>
                        <div th:if="${isAdmin}" class="form-floating mb-3">
                            <!--                        <input class="form-control" id="userRole" th:field="*{user.userRole.name}" type="text"/>-->
                            <!--                        <label for="userRole">User role</label>-->
                            <!--                        <div class="data-status">-->
                            <!--                            <label class="error" th:errors="*{user.userRole.name}">User role error placeholder</label>-->
                            <!--                        </div>-->
                            <select class="form-select"
                                    style="padding: 10px; font-size:16px; border: 0; border-bottom: 3px solid #ffc800;"
                                    th:field="*{roleName}">
                                <option th:each="roleEntity : ${roles}"
                                        th:value="${roleEntity}"
                                        th:text="${roleEntity}">
                            </select>
                            <div class="data-status">
                                <label class="error" th:errors="*{roleName}">Status error placeholder</label>
                            </div>
                        </div>
                        <div th:unless="${isAdmin}">
                            <input type="hidden" th:field="*{roleName}"/>
                        </div>

                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit   ">Save Profile</button>
                        </div>
                    </div>
                </div>
                <!--        <div class="col-md-4">-->
                <!--            <div class="p-3 py-5">-->
                <!--                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>-->
                <!--                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>-->
                <!--                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>-->
                <!--            </div>-->
                <!--        </div>-->

            </form>
        </div>
    </div>
</div>
<div
        style="margin-top: 80px"
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <!-- Right -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="../static/javascript/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>