<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<body>
<nav th:replace="nav-bar.html :: nav-bar"></nav>

<!--<div class="row gx-4 gx-lg-5 justify-content-center mb-5">-->
<!--    <div class="col-lg-6">-->
<!--        <form th:replace="user-update.html :: user-form"></form>-->
<!--    </div>-->
<!--</div>-->
<div class="container rounded bg-white mt-5 mb-5">
    <div style="margin-top: 100px" class="bs-example">
        <a class="btn btn-outline-warning btn-lg px-4 me-sm-3" th:href="@{/}" role="button">Home</a>
        <a class="btn btn-outline-warning btn-lg px-4" th:href="@{/users}" role="button">Show all</a>
        <td th:if="${isAdmin or isTeacher or isStudent}">
            <a class="btn btn-outline-secondary btn-lg px-4 me-sm-3"
               style="padding-top: 1px; padding-bottom: 3px; margin-left: 80%"
               th:href="@{__${#httpServletRequest.requestURI}__/edit}" role="button">Edit</a>
        </td>
        <td th:if="${isAdmin}">
            <a class="btn btn-outline-danger btn-lg px-4" style="padding-top: 1px; padding-bottom: 3px;"
               th:href="@{__${#httpServletRequest.requestURI}__/delete}" role="button">Delete</a>
        </td>
    </div>
    <div class="row">
        <div class="col-md-3 border-right">
            <div th:if="${userWhoIsChecking.id==userId}" class="form-floating mb-3">
                <form action="/uploadProfilePicture" method="post" enctype="multipart/form-data">
                    <input style="width:210px" th:class="form-control" type="file" name="files" multiple>
                    <input style="width:210px" th:class="form-control" type="submit" value="Upload Photo">
                </form>
                <br/>
            </div>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                     src="../../uploads/profile-pictures/mterziyski@gmail.com.jpg"
                     th:src="@{'/assets/profile-pictures'+ '/' + ${user.getEmail()} + '.jpg'}">
                <!--                <img class="rounded-circle mt-5" width="150px" src="../../uploads/profile-pictures/mterziyski@gmail.com.jpg" th:src="@{/assets/Student1.jpg}">-->
                <span class="font-weight-bold">Profile Picture</span>
                <!--                    class="text-black-50">th:text="username"</><span> -->
                </span></div>
        </div>
        <form th:fragment="user-view" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${user}" method="post">
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <h6 class="text-primary" style="padding-left: 15px; padding-top: 5px;"
                            th:text="${user.getFullName()}">full name</h6>
                        <h6 class="text-primary" style="padding-right: 15px; padding-top: 5px;"
                            th:text="${user.getEmail()}">email</h6>
                        <h6 class="text-primary" style="padding-right: 15px; padding-top: 5px;"
                            th:text="${user.getRole().getName()}">role</h6>
                    </div>
                </div>
                <br/>

            </div>

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Student Enrolled Courses</h4>
                    </div>
                    <div th:each="course : ${user.getStudentEnrolledCourses()}" class="row mt-2">
                        <a href="#" th:href="@{/users/student-course/{id}(id=${course.getId()})}"><h6
                                class="text-primary" style="padding-left: 15px; padding-top: 5px;"
                                th:text="${course.getTitle()}">full name</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Student Completed Courses with Average Grade</h4>
                    </div>
                    <div th:each="MapEntry : ${studentCompletedCoursesWithGrades}" class="row mt-2">
                        <h6 class="text-primary" style="padding-left: 15px; padding-top: 5px;"
                            th:text="${MapEntry}">full name</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div th:if="${user.checkIfUserAdmin() or user.checkIfUserTeacher()}" class="form-floating mb-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Teacher Created Courses</h4>
                        </div>
                        <div th:each="course : ${teacherCreatedCourses}" class="row mt-2">
                            <h6 class="text-primary" style="padding-left: 15px; padding-top: 5px;"
                                th:text="${course.getTitle()}">>full name</h6>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="../static/javascript/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>